<%- include('./includes/head') %>
<%- include('./includes/nav') %>
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        
        <div class="col-lg-8 my-3">
          <h1 class="text-center">Agenda</h1>
          <p class="text-center lead"> Seus contatos estão abaixo</p>

          <%- include('./includes/messages') %>

          <% if(contacts.length > 0 ) { %>
          <div class="responsive-table">
            <table class="table my-3">
              <% contacts.forEach(contact => { %>
                <tr>
                  <td><%= contact.name %></td>
                  <td><%= contact.surname %></td>
                  <td><%= contact.number %></td>
                  <td><%= contact.email %></td>
                  <td><a href="/contact/index/<%= contact.id %>">Editar</a></td>
                  <td><a class="text-danger "href="/contact/delete/<%= contact.id %>">Excluir</a></td>
                </tr>
              <% }) %>
            </table>
          </div>
          <% } else { %>
          <p class="text-center lead">Você não tem nenhum contato!</p>  
          <% } %>
        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>

<%- include('./includes/footer') %>